@keyframes scale-in {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.user-card-container {
  animation: scale-in 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}